<div id="root">
<nav>
    <div class="left-nav">
        <a class="logo-container" routerLink="/home" routerLinkActive="active"><img class="logo" src="./assets/img/tetrisfish_logo.svg"></a>
        <app-page-link *ngFor="let page of pages" [routerLink]="page[0]" [displayText]="page[1]" />
    </div>
    <div class="right-nav">
        <h3>{{username}}</h3>
        <a routerLink="/profile" routerLinkActive="active">
            <app-image class="profile-pic" [src]="'profile.svg'" [widthPx]="40" />
        </a> 
    </div>
</nav>

<router-outlet />

</div>