<div id="root">
<nav>
    <div class="left-nav">
        <a class="logo-container" routerLink="/home" routerLinkActive="active"><img class="logo" src="./assets/img/tetrisfish_logo.svg"></a>
        <app-page-link *ngFor="let page of pages" [routerLink]="page[0]" [displayText]="page[1]" />
    </div>

    <!-- If logged in, display profile name and picture -->
    <div *ngIf="this.authService.isLoggedIn()" class="right-nav">
        <h3>{{this.authService.getUsername()}}</h3>
        <a routerLink="/profile" routerLinkActive="active">
            <app-image class="profile-pic" [src]="'profile.svg'" [widthPx]="40" />
        </a> 
    </div>

    <!-- Otherwise, display login button -->
    <div *ngIf="!this.authService.isLoggedIn()" class="right-nav">
        <a routerLink="/login" routerLinkActive="active">
            <app-button class="login-button"><h3>Login</h3></app-button>
        </a> 
    </div>


</nav>

<router-outlet />

</div>