@import '../../../../../styles.scss';

#root {

    top: 0;
    left: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    background-color: $background-color;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: $layer-1-color;
    padding: 0 2%;
    margin: 2%;
    border-radius: 10px;

    flex: 0 1 auto;

}

nav > .left-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3.75%;
}

nav > .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
}

h3 {
    line-height: 0;
}

.login-button {
    // padding: 0 1vw;
}

.profile-pic:hover {
    filter: brightness(0.8);
}

.profile-pic:active {
    filter: brightness(0.7);
}

@media (min-width: 1000px) {
    nav {
        padding: 8px 20px;
        margin: 20px;
    }
    nav > .left-nav {
        gap: 20px;
    }
    nav > .right-nav {
        gap: 20px;
    }
}

.logo-container {
    flex-shrink: 2;
}

.logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}