<!-- hidden video capture element -->
<video #videoElement autoplay style="display: none;"></video>

<div id="root">
<nav>
    <div class="left-nav">
        <a class="logo-container" routerLink="/home" routerLinkActive="active"><img class="logo" src="./assets/img/tetrisfish_logo.svg"></a>
        <app-page-link *ngFor="let page of pages" [routerLink]="page[0]" [displayText]="page[1]" />
    </div>

    <!-- If logged in, display profile name and picture -->
    <div *ngIf="this.userService.isLoggedIn()" class="right-nav">
        <h3>{{this.userService.getUsername()}}</h3>
        <a routerLink="/profile" routerLinkActive="active">
            <app-image class="profile-pic" [src]="'profile.svg'" [widthPx]="27" />
        </a> 
    </div>

    <!-- Otherwise, display login button -->
    <div *ngIf="!this.userService.isLoggedIn()" class="right-nav">
        <app-button-small label="Login" (click)="login()"/>
    </div>


</nav>

<router-outlet />

</div>