@import '../../../../../styles.scss';

#root {

    top: 0;
    left: 0;
    margin: 0;

    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    background-color: $background-color;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: $layer-1-color;
    padding: 0 10px;
    margin: 10px;
    border-radius: 5px;

    flex: 0 1 auto;
}

nav > .left-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

nav > .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.profile-pic:hover {
    filter: brightness(0.8);
}

.profile-pic:active {
    filter: brightness(0.7);
}


.logo-container {
    flex-shrink: 2;
}

.logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}