:host {
    display: flex;
}

svg {
    cursor: pointer;
}

.drought-rect, .tetris-ready-rect {
    opacity: 0.4;
    pointer-events: visibleFill;
}

.drought-rect:hover, .tetris-ready-rect:hover {
    opacity: 0.7;
}

.no-pointer-events {
    pointer-events: none;
}