<!-- svg dims are set to # of placements for x and 0-1 for y -->
<svg #svgElement
    [attr.viewBox]="'0 0 ' + (numPlacements) + ' 1'"
    (mouseenter)="onMouseEnter()" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()"
    preserveAspectRatio="none"
>

    <!-- draw background colors for each speed -->
    <g *ngFor="let pair of speedPlacementPairs">
        <rect [attr.x]="pair.placementIndex" [attr.width]="pair.numPlacements"
            [attr.height]="0.6" [attr.y]="0.3" [attr.fill]="getColorForSpeed(pair.speed)" opacity="0.2">
        </rect>
        <rect [attr.x]="pair.placementIndex" [attr.width]="pair.numPlacements"
            [attr.height]="0.1" [attr.y]="0.9" [attr.fill]="getColorForSpeed(pair.speed)" opacity="1">
        </rect>
    </g>

    <!-- draw drought locations -->
    <g class="drought-rect" *ngFor="let drought of droughts" [tooltip]="drought.tooltip">
        <rect [attr.x]="drought.startIndex" [attr.width]="drought.endIndex - drought.startIndex + 1"
        [attr.height]="0.1" [attr.y]="0" fill="rgb(255,0,0)">
    </rect>
    </g>

    <!-- draw tetris ready locations -->
    <g class="tetris-ready-rect" *ngFor="let tr of tetrisReady" [tooltip]="tr.tooltip">
        <rect [attr.x]="tr.startIndex" [attr.width]="tr.endIndex - tr.startIndex + 1"
        [attr.height]="0.1" [attr.y]="0.1" fill="rgb(0,255,0)">
    </rect>
    </g>

    <!-- draw not tetris ready locations -->
    <g class="tetris-ready-rect" *ngFor="let ntr of notTetrisReady" [tooltip]="ntr.tooltip">
        <rect [attr.x]="ntr.startIndex" [attr.width]="ntr.endIndex - ntr.startIndex + 1"
        [attr.height]="0.1" [attr.y]="0.1" fill="rgb(0,0,0)">
    </rect>
    </g>

    <!-- draw right well open locations -->
    <g class="tetris-ready-rect" *ngFor="let rw of rightWell" [tooltip]="rw.tooltip">
        <rect [attr.x]="rw.startIndex" [attr.width]="rw.endIndex - rw.startIndex + 1"
        [attr.height]="0.1" [attr.y]="0.2" fill="rgb(0,0,255)">
    </rect>
    </g>

    <!-- draw right well closed locations -->
    <g class="tetris-ready-rect" *ngFor="let nrw of notRightWell" [tooltip]="nrw.tooltip">
        <rect [attr.x]="nrw.startIndex" [attr.width]="nrw.endIndex - nrw.startIndex + 1"
        [attr.height]="0.1" [attr.y]="0.2" fill="rgb(0,0,0)">
    </rect>
    </g>

    <!-- draw hovered placement -->
    <rect *ngIf="hoveredPlacement !== null"
        [attr.x]="hoveredPlacement"
        [attr.width]="getSVGDisplayPlacementWidth()" [attr.y]="0.3" [attr.height]="0.6"
        fill="white" opacity="0.1"
        (click)="onClickPlacement()"
        >
    </rect>

    <!-- draw current placement -->
    <rect class="no-pointer-events"
        [attr.x]="hoveredPlacement ? lastPermanentPlacement : currentPlacement"
        [attr.width]="getSVGDisplayPlacementWidth()" [attr.y]="0.3" [attr.height]="0.6"
        fill="black" opacity="0.4"
        (click)="onClickPlacement()"
        >
    </rect>

  </svg>