<section>
    <header>
        <h1>How to use Live Capture</h1>
        <p>
            During live capture, tetrisfish processes NES Tetris gameplay fed by an external source in real time. 
            It communicates with the engine StackRabbit to give you near-instant feedback as you play.
            We store all your games, so you can examine any of your past games with our full suite of analysis tools!
        </p>
    </header>
    

    <div class="step-container">
        <div class="instructions">
            <h2>1. Set up your source</h2>
            <p>
                You can screen capture directly from a NES Tetris emulator on your computer, or connect from your
                NES console through a capture card to your computer as a video source. You should be able to see
                your selected video output on the screen.
            </p>
        </div>
        <img src="assets/img/how-to-play/step-1.png" alt="Step 1" />
    </div>

    <div class="step-container">
        <img src="assets/img/how-to-play/step-2.png" alt="Step 2" />
        <div class="instructions">
            <h2>2. Calibrate your game</h2>
            <p>
                Click on an empty part of the board, and tetrisfish will intelligently calibrate itself and extract
                the Tetris board directly from your video source! Verify everything looks correct on the right.
                In rare cases, you might have to fiddle with the settings on the left panel to ensure a good read.
            </p>
        </div>
    </div>

    <div class="step-container">
        <div class="instructions">
            <h2>3. Start playing!</h2>
            <p>
                Once you are happy with calibration, click “Back to recording” on the top left. You can immediately
                start playing games, and tetrisfish will automatically detect when you start. Try to aim for a
                high accuracy when you play! After each game, you can click “Analyze” to review how you did!
            </p>
        </div>
        <img src="assets/img/how-to-play/step-3.png" alt="Step 3" />
    </div>

    <footer>
        <h2>To get started, log in!</h2>
        <app-discord-button></app-discord-button>
    </footer>

</section>