/* You can add global styles to this file, and also import other style files */

$background-color: #434248;
$layer-1-color: #333235;
$layer-2-color: #414043;
$layer-3-color: #504F52;
$text-color: white;

$main-font: 'Londrina Solid';