/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
}

$background-color: #434248;
$layer-1-color: #333235;
$layer-2-color: #414043;
$layer-3-color: #504F52;
$text-color: white;

$main-font: 'Montserrat';
$data-font: 'Spline Sans Mono';
$tag-font: 'Londrina Solid';

// remove all styling from links
a {
    text-decoration: none;
    color: $text-color;
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, p {
    line-height: normal;
    color: $text-color;
    font-family: $main-font;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.563rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 0.813rem;
    font-weight: 500;

}

p.nav-link {
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 500;
}

p.tag {
    font-family: $tag-font;
    font-size: 0.75rem;
    font-weight: 400;
    
}