/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
}

$background-color: #434248;
$layer-1-color: #333235;
$layer-2-color: #414043;
$layer-3-color: #504F52;
$text-color: white;

$best-color: #58D774;
$good-color: #90D758;
$mediocre-color: #A1A1A1;
$inaccuracy-color: #E6DF3E;
$mistake-color: #D79558;
$blunder-color: #D75858;

$main-font: 'Montserrat';
$data-font: 'Spline Sans Mono';
$tag-font: 'Londrina Solid';

// remove all styling from links
a {
    text-decoration: none;
    color: $text-color;
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, p {
    line-height: normal;
    color: $text-color;
    font-family: $main-font;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 1.4;
    font-size: 1.563rem;
    font-weight: 600;
}

h1.padded {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
}

h3 {
    font-size: 0.8rem;
    font-weight: 500;
}

p {
    font-size: 0.75rem;
    font-weight: 400;

}

p.padded {
    margin: 10px 0;
}

p.nav-link {
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 500;
}

p.tag {
    font-family: $tag-font;
    font-size: 0.75rem;
    font-weight: 400;
    
}

hr {
    border: none; /* Remove the default border */
    height: 0.5px; /* Make it thin */
    background-color: rgba(255, 255, 255, 0.3); /* White with 50% opacity */
    margin: 15px auto; /* Optional: adds some space before and after the HR */
    width: 90%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
