@import "../../../../styles.scss";
@import "../button/button.component.scss";


.button-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    margin: 5px 0; // left-right padding must be 0 so that 100% width won't cause weird overflow issues

    width: 100%;
    box-sizing: border-box;
    border: 0;

    border-radius: 7.5px;
    box-shadow: 0 1.2px 4.5px 0.15px rgb(0,0,0,0.5);
}

.button-big:not(:disabled):hover {
    box-shadow: 0 1.2px 4.5px 0.15px rgb(0,0,0,0.75);
}

.button-big:not(:disabled):active {
    transform: translateY(1px);
    box-shadow: 0 0 4.5px 0.15px rgb(0,0,0,0.75);
}

.title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
}

.description {
    text-wrap: wrap;
    font-size: .65rem;
}

h1 {
    line-height: 1.3;
    font-size: 1.3rem;
    font-weight: 600;
}