<div *ngIf="!isVacant()" class="slot occupied">
    <app-nes-panel class="name-panel">
        <h1 class="player-name">{{slot.playerName}}</h1>
    </app-nes-panel>

    <app-nes-panel class="eval-bar-panel">
        <app-eval-bar class="eval-bar" />
    </app-nes-panel>

    <app-nes-panel class="tetris-board-panel">
        <app-interactive-tetris-board
            [grid]="getBoardData().binaryGrid"
            [colorGrid]="getBoardData().colorGrid"
            [verticalAlign]="VerticalAlign.CENTER"
        />
    </app-nes-panel>

    <app-nes-panel class="score-panel">
        <div class="score-panel-content">
            <p class="score-label">SCORE</p>
            <div>
                <p class="score-value">123456</p>
                <p class="score-delta">23456</p>
            </div>
            
        </div>
    </app-nes-panel>

    <app-nes-panel class="level-panel">
        <div class="level-panel-content">
            <p class="level-label">LEVEL</p>
            <p class="level-value">18</p>
        </div>
    </app-nes-panel>

    <app-nes-panel class="lines-panel">
        <div class="lines-panel-content">
            <p class="lines-label">LINES</p>
            <p class="lines-value">123</p>
        </div>
    </app-nes-panel>

    <app-nes-panel class="accuracy-panel">
        <div class="accuracy-panel-content">
            <p class="accuracy-label">ACCURACY</p>
            <p class="accuracy-value">94.62%</p>
        </div>
    </app-nes-panel>

    <app-nes-panel class="trt-panel">
        <div class="trt-panel-content">
            <p class="trt-label">TRT:</p>
            <p class="trt-value">94%</p>
        </div>
    </app-nes-panel>

    <app-nes-panel class="video-panel">
        
    </app-nes-panel>

</div>

<div *ngIf="isVacant() && isAdmin" class="slot vacant">
    <h1 class="open-slot-text">Open Slot {{slot.index+1}}</h1>
    <div class="open-slot-buttons">
        <app-button-big class="open-slot-button" label="Invite Player" icon="puzzle.png" color="#3DAD55"
            description="Generates a four-digit access code to invite a player to join this slot"
            [@buttonOpacity]="buttonState" [ngStyle]="buttonStyle"
            (click)="onClickInvitePlayer()" />
        <app-button-big class="open-slot-button" label="Register AI" icon="puzzle.png" color="#A54ECE"
            description="Play against configurable AI opponents like StackRabbit and TripleMachine"
            [@buttonOpacity]="buttonState" [ngStyle]="buttonStyle"
            (click)="onRegisterAI.emit()" />
        <app-button-big class="open-slot-button" label="Register myself" icon="puzzle.png" color="#4351CE"
            description="Register yourself to play through live capture or an integrated emulator"
            [@buttonOpacity]="buttonState" [ngStyle]="buttonStyle"
            [buttonDisabled]="!canRegisterMyself"
            (click)="onClickRegisterMyself()" />
        <app-button-big class="open-slot-button" label="Delete Slot" icon="puzzle.png" color="#CB4C4C"
        [@buttonOpacity]="buttonState" [ngStyle]="buttonStyle"
        (click)="onDeleteSlot.emit()" />
    </div>

    <div class="digits">
        <div class="digit" *ngFor="let index of [0,1,2,3]"
        [@codeAnimation]="codeAnimationState">
            <p class="digit-character">{{getAccessCodeDigit(index)}}</p>
        </div>
    </div>

    <div class="access-code-other">
        <p class="instructions" [@otherOpacity]="instructionsState" [ngStyle]="instructionsStyle">Invite a player to join this room using the access code!</p>
        <app-button-small class="back-button" label="Back" (click)="exitAccessCode()" [@otherOpacity]="backState" [ngStyle]="backStyle" />
    </div>
</div>

<div *ngIf="isVacant() && !isAdmin" class="slot vacant">
    <p>
        Waiting for host to assign player...
    </p>
</div>