<app-section class="accuracy-section">

    <h2 class="title">Accuracy ({{inputSpeed}}hz)</h2>

    <app-subsection class="overall-accuracy">
        <h1 class="overall-accuracy-value" *ngIf="!stats">-</h1>
        <h1 class="overall-accuracy-value" *ngIf="stats?.getOverallAccuracy() as overallAccuracy"
        [style.color]="stats!.getAccuracyColor(overallAccuracy)"
        >{{stats?.getAccuracyString(overallAccuracy, 2)}}</h1>
        <p class="tiny" *ngIf="stats && stats.startLevel < 29">*Excludes 29 accuracy</p>

        <div *ngIf="stats?.is29Start()">
            <h3>At 100 lines: <span
                [style.color]="stats!.getAccuracyColor(stats!.getAccuracy100LinesFor29())"
                >{{stats!.getAccuracyString(stats!.getAccuracy100LinesFor29(), 2)}}</span></h3>
            <p class="tiny">*For 29 leaderboard</p>
        </div>

    </app-subsection>

    <app-subsection class="speed-subsection" *ngIf="stats && stats.startLevel < 29">
        <div *ngIf="!stats">
            <h3 >18 speed:  -</h3>
            <h3 >19 speed:  -</h3>
            <h3 >29 speed:  -</h3>
        </div>
        <div class="speed-accuracy" *ngIf="stats">
            <div class="speed-accuracy-container" *ngFor="let sa of stats.speedAccuracyCache">
                <h3>{{sa[0]}} speed:  </h3>
                <h3 [style.color]="stats.getAccuracyColor(sa[1])">{{stats.getAccuracyString(sa[1], 2)}}</h3>
            </div>
        </div>
    </app-subsection>

    <app-subsection class="piece-accuracy">
        <div class="piece-accuracy-container" *ngFor="let pa of stats?.pieceAccuracyCache">
            <app-tag [piece]="pa[0]" />
            <h3 [style.color]="stats!.getAccuracyColor(pa[1])">
                {{stats!.getAccuracyString(pa[1])}}
            </h3>
        </div>
    </app-subsection>

</app-section>