<app-section class="accuracy-section">


    <app-subsection class="leaderboard">
        <h2>Leaderboard</h2>
        <h1 class="leaderboard-value"
        [style.color]="( leaderboardValid || !leaderboardRank) ? 'white' : redColor"
        >{{leaderboardRank ? leaderboardRank + '#' : 'None'}}</h1>
        <p class="tiny"
        [style.color]="( leaderboardValid || !leaderboardRank) ? 'white' : redColor"
        >*If game is eligible and reaches 29, the overall accuracy at that point will be sent to leaderboards</p>
    </app-subsection>
    
    <app-subsection class="overall-accuracy">
        <h2>Accuracy ({{inputSpeed}}hz)</h2>
        <h1 class="overall-accuracy-value" *ngIf="!stats">-</h1>
        <h1 class="overall-accuracy-value" *ngIf="stats?.getOverallAccuracy() as overallAccuracy"
        [style.color]="stats!.getAccuracyColor(overallAccuracy)"
        >{{stats?.getAccuracyString(overallAccuracy, 2)}}</h1>
    </app-subsection>

    <app-subsection class="speed-subsection">
        <div *ngIf="!stats">
            <h3 >18 speed:  -</h3>
            <h3 >19 speed:  -</h3>
            <h3 >29 speed:  -</h3>
        </div>
        <div class="speed-accuracy" *ngIf="stats">
            <div class="speed-accuracy-container" *ngFor="let sa of stats.speedAccuracyCache">
                <h3>{{sa[0]}} speed:  </h3>
                <h3 [style.color]="stats.getAccuracyColor(sa[1])">{{stats.getAccuracyString(sa[1], 2)}}</h3>
            </div>
        </div>
    </app-subsection>

    <app-subsection class="piece-accuracy">
        <div class="piece-accuracy-container" *ngFor="let pa of stats?.pieceAccuracyCache">
            <app-tag [piece]="pa[0]" />
            <h3 [style.color]="stats!.getAccuracyColor(pa[1])">
                {{stats!.getAccuracyString(pa[1])}}
            </h3>
        </div>
    </app-subsection>

</app-section>