@import "../../../../../styles.scss";

.list-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}


.title {
    font-size: 35px;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}