<!-- Iterate through the board left-right, top-bottom and draw each block -->
<svg [attr.viewBox]="VIEW_BOX" left="0" top="0" width="100%" height="100%">

    <!-- Draw the board background -->
    <rect x="0" y="0" [attr.width]="boardWidth" [attr.height]="boardHeight" fill="black" />

    <g *ngIf="!paused">
        <g *ngFor="let y of ZERO_TO_NINETEEN">
            <g *ngFor="let x of ZERO_TO_NINE">
                <g *ngIf="getBlockAt(x,y) as block">
                    <g app-tetris-block
                        (onHover)="onBlockHover(block, $event)"
                        (onClick)="onBlockClick(block)"
                        (onMouseDown)="onBlockMouseDown(block)"
                        (onMouseUp)="onBlockMouseUp(block)"
                        [mode]="mode"
                        [blockData]="block" />
                </g>
            </g>
        </g>
    </g>

    <image xlink:href="assets/img/pause.png"
        [style.visibility]="paused ? 'visible': 'hidden'"
        [attr.x]="getPauseX()"
        [attr.y]="getPauseY()"
        [attr.width]="getPauseWidth()"
        [attr.height]="getPauseHeight()" />

</svg>