<div class="root">
    <div class="col-analysis">

        <app-section class="game-summary">
            <app-game-summary [stats]="this.game?.stats" />
        </app-section>

        <app-section class="rating-totals">
            <app-rating-totals [ratings]="this.game?.analysisStats?.ratingAggregator" />
        </app-section>

        <!-- <app-section class="analysis-board">
            <p class="padded">Analysis Board</p>
            <app-interactive-tetris-board
                [grid]="getLastPlacement()?.grid"
                [level]="18"
                [currentPiece]="getBestMove()?.thisPiece"
            />
        </app-section> -->

    </div>
    <app-eval-bar class="col-eval-bar"
    [playerEval]="getMoveRating()?.playerNB"
    [bestEval]="getMoveRating()?.bestNB" 
    [rating]="getMoveRating()?.rating"/>
    <app-section class="col-capture">
        <h1 class="padded">Live Capture Mode • <span [ngStyle]="{'color': getStatusColor()}">{{getStatusString()}}</span></h1>

        <canvas #canvasElement
        [width]="videoCaptureService.OCR_WIDTH" [height]="videoCaptureService.OCR_HEIGHT"
        [style.width.px]="videoCaptureService.DISPLAY_WIDTH" [style.height.px]="videoCaptureService.DISPLAY_HEIGHT"
        [style.display]="isInGame() ? 'none' : 'block'"></canvas>

        <app-tetris-panel *ngIf="isInGame()">
            <app-interactive-tetris-board
                    [grid]="extractedState.getGrid()"
                    [level]="extractedState.getStatus().level"
                    [paused]="extractedState.getPaused()"
                />
            <app-tetris-panel-item>
                <h2>Score</h2>
                <h1>{{getScoreString()}}</h1>
            </app-tetris-panel-item>
            <div class="level-lines">
                <app-tetris-panel-item>
                    <h2>Lines</h2>
                    <h1>{{getLinesString()}}</h1>
                </app-tetris-panel-item>
                <app-tetris-panel-item>
                    <h2>Level</h2>
                    <h1>{{getLevelString()}}</h1>
                </app-tetris-panel-item>
            </div>
            <app-tetris-panel-item>
                <app-next-box [showBackground]="false" [level]="extractedState.getStatus().level" [type]="extractedState.getNextPieceType()"></app-next-box>
            </app-tetris-panel-item>
            <app-tetris-panel-item class="drought-container" *ngIf="game?.stats?.getDroughtCount() as droughtCount">
                <div class="drought">
                    <h2 class="bold">Drought:</h2>
                    <h1>{{droughtCount}}</h1>
                </div>
            </app-tetris-panel-item>
            <app-tetris-panel-item>
                <app-rating-subsection
                    [moveNotation]="getLastPlacement()?.piecePlacement!.toString()"
                    [rating]="getMoveRating()"
                    >
                </app-rating-subsection>
            </app-tetris-panel-item>

        </app-tetris-panel>
    </app-section>
    <div class="col-dashboard">
            
        <app-accuracy-panel class="accuracy-panel"
            [inputSpeed]="settings.inputSpeed"
            [stats]="game?.analysisStats">
        </app-accuracy-panel>

        <div class="leaderboard-buttons">

            <app-leaderboard-panel
                [eligibility]="getEligibility()"
                [leaderboardRank]="leaderboardCache.getLeaderboardRank()"
                [maxLeaderboardRank]="100"
                [inputSpeed]="settings.inputSpeed"
            />

            <div class="buttons">
                <a routerLink="/calibrate" routerLinkActive="active">
                    <app-button-big color="#626EDF" label="Edit Calibration" icon="calibrate_button.svg"/>
                </a>
                <app-button-big color="#9162DF" label="Analyze" icon="analysis_button.svg" (click)="onClickAnalyze()" />
                <a routerLink="/debug" routerLinkActive="active">
                    <app-button-big color="#DF6262" label="Debug" icon="debug_button.svg" />
                </a>
            </div>
        </div>
        
        <app-game-history-panel class="game-history-panel">
        </app-game-history-panel>

    </div>

</div>