<div id="play-page">
    <section id="live-source">
        <h2>Connect to a live source</h2>
        <div class="section-content" id="live-source-content">
            <app-video-capture class="ls-left-column" />
            <div *ngIf="this.panelCalibrateMode" class="subsection ls-right-column" id="calibrate-panel">
                <h3>Calibration</h3>
            </div>
            <div *ngIf="!this.panelCalibrateMode" class="subsection-container ls-right-column">
                <div class="subsection" id="live-capture-panel">
                    <h3>Live Capture</h3>
                    <app-checkbox label="Show bounding boxes" [(isChecked)]="this.showBoundingBoxes" />
                    <app-checkbox label="Show mino indicators" [(isChecked)]="this.showMinoIndicators" />
                    <app-button (onClick)="goToCalibratePanel()"><h4>Calibrate</h4></app-button>
                    <app-button (onClick)="startRecording()"><h4>Start Recording</h4></app-button>

                </div>
                <div class="subsection" id="logging">
                    <h3>Log</h3>
                    <h4 id="log-status" 
                    [ngStyle]="{'color': logStatus.good ? 'green' : 'red'}"
                      >Status: {{logStatus.message}}</h4>
                    <app-log [logs]="logs"></app-log>
                </div>
            </div>
        </div>
        
    </section>
    <section id="display">
        <h2>What we're detecting...</h2>
        <div class="section-content" id="display-content">

            <div id="tetris-display">
                <app-interactive-tetris-board
                    [grid]="capture.grid"
                    [level]="capture.status.level"
                />
            </div>

            <div class="subsection-container" id="status-display">
                <div class="subsection status-container" id="level-status">
                    <h4>Level</h4>
                    <h2>{{capture.status.level}}</h2>
                </div>
                <div class="subsection status-container" id="lines-status">
                    <h4>Lines</h4>
                    <h2>{{capture.status.lines}}</h2>
                </div>
                <div class="subsection status-container" id="score-status">
                    <h4>Score</h4>
                    <h2>{{capture.status.score}}</h2>
                </div>
                <div class="subsection" id="next-box">
                    <h4>Next box</h4>
                    <app-next-box class="nb" [showBackground]="false" [level]="capture.status.level" [type]="capture.nextPieceType"></app-next-box>
                </div>
            </div>
        </div>
    </section>


</div>
