@import "../../../../../styles.scss";

.root {
    display: grid;
    grid-template-columns: 3.8fr 1fr 9.5fr 9fr; // 1fr = 50px in figma
    column-gap: 10px;
    margin: 0 10px;
}

.level-lines {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.col-analysis {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
}

.best-move {
    margin: 10px;
}

.col-capture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.col-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 270px;
    row-gap: 10px;
    column-gap: 10px;
}

.accuracy-panel {
    grid-row: 1;
    grid-column: 1;
}

.leaderboard-buttons {
    grid-row: 1;
    grid-column: 2;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}

.game-history-panel {
    grid-row: 2;
    grid-column: 1 / -1;
}

.time-notes {
    display: flex;
    flex-direction: column;

}

.notes-section {
    flex-grow: 1;
}

.notes-section ::ng-deep .subsection {
    height: 100%;
    box-sizing: border-box;

}

.notes {
    text-align: left;
    height: 100%;
    box-sizing: border-box;
}

video {
    border: 1px solid white;
}

.best-move-info ::ng-deep section {
    padding-bottom: 20px;
}

.drought-container {
    background-color: #D75858;
}
.drought {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $blunder-color !important;
}