<app-how-to-play *ngIf="displayingInstructions" (onExit)="hideInstructions()" />

<div class="root" *ngIf="!displayingInstructions">
    <div class="calibrate">
        <div class="nav">
            <app-button-small label="Read Instructions" color="#F27458" (click)="showInstructions()"/>
            <app-button-small [label]="exitButtonText" (click)="onExit.emit()" />
        </div>
        
        <app-section class="calibrate-panel">
            <h3 class="padded">Set playstyle</h3>
            <select class="dropdown" [(ngModel)]="settings.playstyle">
                <option *ngFor="let playstyle of ALL_PLAYSTYLES" [ngValue]="playstyle">
                    {{playstyle}}
                </option>
            </select>

            <hr>

            <h3 class="padded">Set analysis input speed</h3>
            <p class="tiny">Note: Only 30hz is eligible for leaderboard.</p>
            <select class="dropdown" [(ngModel)]="settings.inputSpeed">
                <option *ngFor="let speed of ALL_INPUT_SPEEDS" [ngValue]="speed">
                    {{speed}}hz
                </option>
            </select>

            <hr>

            <h3>Click on an empty part of the board</h3>
            <hr>
            <app-threshold-input label="Set mino detection threshold" [type]="ThresholdType.MINO" />
            <hr>
            <app-threshold-input label="Set text detection threshold" [type]="ThresholdType.TEXT" />
            <hr>


        </app-section>
    </div>
    <app-section class="live-source-panel">
        <h1 class="padded">Connect to a live source</h1>
        <app-video-capture [captureVideoElement]="captureVideoElement" />
    </app-section>
    <app-section class="detection-panel">
        <h1 class="padded">What we're detecting...</h1>
        <app-tetris-panel>
            <app-interactive-tetris-board
                    [grid]="extractedState.getGrid()"
                    [colorGrid]="extractedState.getColorGrid()"
                    [level]="extractedState.getStatus().level"
                    [paused]="extractedState.getPaused()"
                />
            <!-- <app-tetris-panel-item class="detection-panel-item">
                <h2>Score</h2>
                <h1>{{extractedState.getStatus().score}}</h1>
            </app-tetris-panel-item>
            <app-tetris-panel-item class="detection-panel-item">
                <h2>Lines</h2>
                <h1>{{extractedState.getStatus().lines}}</h1>
                <p>Confidence: {{extractedState.getLinesConfidence()}}</p>
            </app-tetris-panel-item> -->
            <app-tetris-panel-item class="detection-panel-item">
                <h2>Level</h2>
                <h1>{{extractedState.getStatus().level}}</h1>
                <p>Confidence: {{extractedState.getLevelConfidence()}}</p>
            </app-tetris-panel-item>
            <app-tetris-panel-item class="detection-panel-item">
                <app-next-box [showBackground]="false" [level]="extractedState.getStatus().level" [type]="extractedState.getNextPieceType()"></app-next-box>
            </app-tetris-panel-item>

            <app-tetris-panel-item>
                <h2>Debug</h2>
                <p class="tiny">FPS: {{videoCaptureService.getFPS()}}</p>
                <p class="tiny">Tick busy duration: {{videoCaptureService.getTickBusyDuration().toFixed(0)}}ms</p>
                <p class="tiny">Tick idle duration: {{videoCaptureService.getTickIdleDuration().toFixed(0)}}ms</p>
            </app-tetris-panel-item>

        </app-tetris-panel>

    </app-section>
</div>