@import "../../../../../styles.scss";

:host {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-editor {
    margin-top: 20px;
    width: fit-content;
    background: $layer-1-color;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-lines {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrow-button {
    cursor: pointer;
}

.arrow-button:hover {
    opacity: 0.9;
}

.arrow-button:active {
    opacity: 0.8;
}

.arrow-button.disabled {
    opacity: 0.2;
}