<div class="board-editor">

    <h1 class="padded">Bot Playground</h1>

    <app-tetris-panel>
        <app-interactive-tetris-board
            [level]="getCurrentState().status.level"
            [grid]="getCurrentState().board"
            [currentPiece]="getCurrentPlacement()?.currentPlacement"
            [nextPiece]="getCurrentPlacement()?.nextPlacement"/>
        />

        <app-tetris-panel-item class="prevent-text-select">
            <app-next-box [showBackground]="false" [level]="18" [type]="getCurrentState().nextPieceType"></app-next-box>
        </app-tetris-panel-item>

        <app-tooltip-button
            label="Start game"
            [tooltipText]="'Simulate a full game with ' + selectedAI.getName() + ' AI!'"
            (click)="startGame()"/>

        <app-tetris-panel-item>
            <h2>Position #{{placementIndex + 1}}</h2>
            <div class="nav-buttons">
                <app-fixed-size-image src="arrow_left.svg" class="arrow-button" [ngClass]="{'disabled': placementIndex <= 0}" [width]="25" (click)="goToPreviousPlacement()"></app-fixed-size-image>
                <app-fixed-size-image src="arrow_right.svg" class="arrow-button" [width]="25" (click)="goToNextPlacement()"></app-fixed-size-image>
            </div>
        </app-tetris-panel-item>

    </app-tetris-panel>
</div>