@import "../../../../../styles.scss";

:host {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.game-simulation-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.board-editor {
    margin-top: 20px;
    width: fit-content;
    background: $layer-1-color;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bot-config-section, .statistics-section {
    height: fit-content;
}

.statistics-section {
    flex-grow: 1;
}

.level-lines {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrow-button {
    cursor: pointer;
}

.arrow-button:hover {
    opacity: 0.9;
}

.arrow-button:active {
    opacity: 0.8;
}

.arrow-button.disabled {
    opacity: 0.2;
}

.bot-config-columns {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bot-config-column {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;

}

.bot-config-column.left {
    border-right: 0.5px solid rgba(255, 255, 255, 0.50);
}

.dropdown {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}