<app-section class="game-simulation-section">

    <div class="game-simulation-title">
        <h1 class="padded">{{getSelectedAI().getName()}}</h1>
        <app-tooltip-indicator [tooltip]="getSelectedAI().getDescription()" />
    </div>

    <app-tetris-panel>
        <app-interactive-tetris-board
            [level]="getCurrentState().status.level"
            [grid]="getCurrentState().board"
            [currentPiece]="getCurrentPlacement()?.currentPlacement"
            [nextPiece]="playing ? undefined : getCurrentPlacement()?.nextPlacement"
            />

        <app-tetris-panel-item>
            <h2>Score</h2>
            <h1>{{getCurrentState().status.score}}</h1>
        </app-tetris-panel-item>
        <div class="level-lines">
            <app-tetris-panel-item>
                <h2>Lines</h2>
                <h1>{{getCurrentState().status.lines}}</h1>
            </app-tetris-panel-item>
            <app-tetris-panel-item>
                <h2>Level</h2>
                <h1>{{getCurrentState().status.level}}</h1>
            </app-tetris-panel-item>
        </div>

        <app-tetris-panel-item class="prevent-text-select">
            <app-next-box [showBackground]="false" [level]="18" [type]="getCurrentState().nextPieceType"></app-next-box>
        </app-tetris-panel-item>

        <app-tooltip-button
            label="Reset Game"
            color="#C34646"
            tooltipText="Discard current game and start a new one"
            (click)="resetGame()"/>

        <app-tooltip-button
            [label]="!playing ? 'Start Playing' : 'Pause Game'"
            [color]="!playing ? '#50C346' : '#C34646'"
            [tooltipText]="'Simulate a game from this position with ' + getSelectedAI().getName() + ' AI!'"
            (click)="!playing ? startGame() : stopGame()"/>

        <app-tetris-panel-item>
            <h2>Position #{{placementIndex}}</h2>
            <div class="nav-buttons">
                <app-fixed-size-image src="arrow_left.svg" class="arrow-button" [ngClass]="{'disabled': placementIndex <= 0}" [width]="25" (click)="goToPreviousPlacement()"></app-fixed-size-image>
                <app-fixed-size-image src="arrow_right.svg" class="arrow-button" [width]="25" (click)="goToNextPlacement()"></app-fixed-size-image>
            </div>
        </app-tetris-panel-item>

    </app-tetris-panel>
</app-section>

<div class="right-col">

    <app-section class="bot-config-section">
        <h1 class="padded">Bot Configuration</h1>
        
        <div class="bot-config-columns">
            <div class="bot-config-column left">
                <div class="dropdown">
                    <h2>AI:</h2>
                    <select [(ngModel)]="botConfig.aiType" (ngModelChange)="onAITypeChange()">
                        <option *ngFor="let type of ALL_ADAPTER_TYPES" [ngValue]="type">{{type}}</option>
                    </select>
                </div>
                <div class="dropdown">
                    <h2>Input Speed:</h2>
                    <select [(ngModel)]="botConfig.inputSpeed">
                        <option *ngFor="let speed of ALL_INPUT_SPEEDS" [ngValue]="speed">
                            {{speed}}hz
                        </option>
                    </select>
                </div>
            </div>
            <div class="bot-config-column right">
                <div class="dropdown">
                    <h2>Start Level:</h2>
                    <select [(ngModel)]="botConfig.startLevel">
                        <option *ngFor="let startLevel of ALL_START_LEVELS" [ngValue]="startLevel">
                            {{startLevel}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </app-section>

    <app-section class="statistics-section">
        <h1 class="padded">Simulation Statistics</h1>
    </app-section>

</div>