<app-section>
    <h2>Game History</h2>

    <div class="list">
        <div class="element average">
            <h3 class="level">Last {{history.getAverageCount()}} games</h3>
            <div class="date"></div>
            <h3 class="score">{{history.getAverageScore() ? formatScore(history.getAverageScore()!) : '-  '}}</h3>
            <h3 class="accuracy"*ngIf="history.getAverageAccuracy() as accuracy"
            [style.color]="getColorForAccuracy(accuracy)"
            >{{formatAccuracy(accuracy)}}</h3>
            <h3 class="accuracy"*ngIf="!history.getAverageAccuracy()">{{'-  '}}</h3>
        </div>

        <div class="element" *ngFor="let game of history.getGames().slice().reverse()">
            <p class="level">{{getTimeString(game.date)}}</p>
            <p class="date">{{game.startLevel}} start, ended at level {{game.level}} with {{game.lines}} {{game.lines === 1 ? 'line' : 'lines'}}</p>
            <p class="score">{{formatScore(game.score)}}</p>
            <p class="accuracy" [style.color]="getColorForAccuracy(game.accuracy)"
            >{{formatAccuracy(game.accuracy)}}</p>
        </div>
    </div>

</app-section>