
:host {
    --buttonColor: #5865F2;
    --buttonColorHovered: black;
    --buttonColorPressed: #5865F2;
    --buttonColorDisabled: grey;
}

.generic-button {
    background-color: var(--buttonColor);

}

.generic-button:hover {
    background-color: var(--buttonColorHovered);
}

.generic-button:active {
    background-color: var(--buttonColorPressed);
}

.generic-button:disabled {
    background-color: var(--buttonColorDisabled);
}