@import "../../../../styles.scss";

:host {
    flex-grow: 1;
}

#play-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 97%;
}

section {
    border-radius: 10px;
    background-color: $layer-1-color;
    width: 100%;
    height: 100%;
}

#live-source {
    margin: 0vw 1vw 2vw 2vw;
}

#display {
    margin: 0vw 2vw 2vw 1vw;
}  

h2 {
    text-align: center;
}