<h1>Browse your full game history</h1>
<app-section>
    <div class="game-history-list">
        <div class="element top-element">
            <app-sortable key="timestamp" label="Time"></app-sortable>
            <app-sortable key="startLevel" label="Start"></app-sortable>
            <app-sortable key="finalScore" label="Score"></app-sortable>
            <app-sortable class="hide-2" key="accuracy18" label="Level 18"></app-sortable>
            <app-sortable class="hide-2" key="accuracy19" label="Level 19"></app-sortable>
            <app-sortable class="hide-1" key="droughtPercent" label="In Drought"></app-sortable>
            <app-sortable class="hide-1" key="tetrisReadiness" label="Tetris Ready"></app-sortable>
            <app-sortable class="hide-1" key="iPieceEfficiency" label="I-Piece Efficiency"></app-sortable>
            <app-sortable key="overallAccuracy" label="Overall Accuracy"></app-sortable>
        </div>
        <div class="element" *ngFor="let game of getGameHistory()" (click)="onClickGame(game)">
            <p>{{getTimeString(game.timestamp)}}</p>
            <p>lvl {{game.startLevel}}</p>
            <p>{{game.finalScore}} • lvl {{game.finalLevel}}</p>
            <p class="hide-2"><span [style.color]="getAccuracyColor(game.accuracy18)">{{formatAccuracy(game.accuracy18)}}</span> • {{game.score19 ?? '-'}}</p>
            <p class="hide-2"><span [style.color]="getAccuracyColor(game.accuracy19)">{{formatAccuracy(game.accuracy19)}}</span> • {{game.score29 ?? '-'}}</p>
            <p class="hide-1">{{formatAccuracy(game.droughtPercent)}}</p>
            <p class="hide-1">{{formatAccuracy(game.tetrisReadiness)}}</p>
            <p class="hide-1">{{formatAccuracy(game.iPieceEfficiency)}}</p>
            <h3 [style.color]="getAccuracyColor(game.overallAccuracy)">{{formatAccuracy(game.overallAccuracy)}}</h3>
        </div>
    </div>
</app-section>