@import "../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
}

.test-section ::ng-deep section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.test-section-2 ::ng-deep section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}