<h1>Header 1</h1>
<h2>Header 2</h2>
<p>Paragraph</p>
<p class="tag">Tag</p>
<p class="nav-link">Nav Link</p>

<app-button-small label="Button Small"></app-button-small>
<app-button-small icon="puzzle_white.svg" label="Button Small"></app-button-small>
<app-button-big icon="puzzle_white.svg" label="Button Big"></app-button-big>
<app-button-big icon="puzzle_white.svg" label="Button Big" description="type description here"></app-button-big>

<app-section class="test-section">
    <app-subsection>
        <app-button-small icon="puzzle_white.svg" label="Button Small"></app-button-small>
        <app-button-big icon="puzzle_white.svg" label="Button Big"></app-button-big>
    </app-subsection>
    <app-subsection>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <p>Paragraph</p>
        <p class="tag">Tag</p>
        <p class="nav-link">Nav Link</p>
    </app-subsection>
</app-section>
<app-section class="test-section-2">
    <app-subsection>
        <app-button-small icon="puzzle_white.svg" label="Button Small"></app-button-small>
        <app-button-big icon="puzzle_white.svg" label="Button Big"></app-button-big>
    </app-subsection>
    <app-subsection>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <p>Paragraph</p>
        <p class="tag">Tag</p>
        <p class="nav-link">Nav Link</p>
    </app-subsection>
</app-section>