<header>
    <div class="brand">
        <img src="./assets/img/tetrisfish_logo_shadow.svg">
        <h1 class="brand-name">tetrisfish</h1>
    </div>
    <h2 class="brand-subtitle">Stack like a champion.</h2>
</header>

<section class="global-game-stats">
    <div class="global-game-stat" *ngFor="let stat of globalStatInfo">
        <div class="stat-value-icon">
            <app-animated-counter class="stat-value" [value]="stat.value"></app-animated-counter>
            <app-fixed-size-image class="stat-icon" [src]="stat.icon" [width]="53"></app-fixed-size-image>
        </div>
        <h2 class="stat-label">{{stat.title}}</h2>
    </div>
</section>

<section class="quote-section">
    <h2 class="quote">
        I feel like I’ve gotten better at stacking in the past week than I have in the past 6 months.”
    </h2>
    <h2 class="author">
        -TheDengler, top 8 in CTWC 2023
    </h2>
</section>

<section class="info">
    <h1 class="info-title">1989 Tetris meets modern technology...</h1>
    <p class="info-text">
        Transform your NES Tetris game! Powered by StackRabbit AI, this tool offers in-depth analysis,
        various puzzle training modes, and real-time feedback. Compete in the leaderboards and track your 
        progress. Elevate your play with Tetrisfish - where every placement counts!
    </p>
    <app-discord-button (click)="login()"></app-discord-button>
</section>