<div class="recommendation-container" *ngFor="let rec of movelist.getRecommendations(); let i = index"
    (mouseenter)="onMouseEnterRecommendation(rec)" (mouseleave)="onMouseLeaveRecommendation()"
>
    <app-subsection class="subsection" [shadow]="true">
        <div class="recommendation" [ngClass]="(i === 0) ? 'first-recommendation' : ''">
            <h2 [style.color]="movelist.getRecommendationColor(rec)">{{rec.toString()}}</h2>
            <div class="tags">
                <app-tag *ngFor="let tag of rec.getTags()" [name]="getTagName(tag)"></app-tag>
            </div>
            <p class="description" *ngIf="i === 0">Qualitative explanation on why move is good here</p>
        </div>
    </app-subsection>
</div>