<div class="main" *ngIf="game">

    <app-eval-bar class="col-eval-bar"
    [playerEval]="getPlayerRating()?.playerNB"
    [bestEval]="getPlayerRating()?.bestNB" 
    [rating]="getPlayerRating()?.rating"/>

    <app-section class="col-capture">
        <h2 class="header">Played by {{game.playerName ?? "unknown"}} {{getRelativeTime()}} with playstyle: {{game.playstyle}}</h2>

        <app-tetris-panel>
            <app-interactive-tetris-board
                    [grid]="getPosition().grid"
                    [level]="getPosition().statusBeforePlacement.level"
                    [currentPiece]="hoveredRecommendation ? hoveredRecommendation.thisPiece : getPosition().piecePlacement"
                    [nextPiece]="hoveredRecommendation ? hoveredRecommendation.nextPiece : undefined"
                    [greyOut]="(isTemporaryPlacement || hoveredRecommendation) ? 0.3 : 0"
                />
            <app-tetris-panel-item>
                <h2>Score</h2>
                <h1>{{getPosition().statusBeforePlacement.score}}</h1>
            </app-tetris-panel-item>
            <div class="level-lines">
                <app-tetris-panel-item>
                    <h2>Lines</h2>
                    <h1>{{getPosition().statusBeforePlacement.lines}}</h1>
                </app-tetris-panel-item>
                <app-tetris-panel-item>
                    <h2>Level</h2>
                    <h1>{{getPosition().statusBeforePlacement.level}}</h1>
                </app-tetris-panel-item>
            </div>
            <app-tetris-panel-item>
                <app-next-box [showBackground]="false" [level]="getPosition().statusBeforePlacement.level" [type]="getPosition().nextPieceType"></app-next-box>
            </app-tetris-panel-item>

            <app-tetris-panel-item>
                <h2>Position #{{placementIndex + 1}}</h2>
                <div class="nav-buttons">
                    <app-fixed-size-image src="arrow_left.svg" class="arrow-button" [ngClass]="{'disabled': !hasPrevious()}" [width]="25" (click)="previous()"></app-fixed-size-image>
                    <app-fixed-size-image src="arrow_right.svg" class="arrow-button" [ngClass]="{'disabled': !hasNext()}" [width]="25" (click)="next()"></app-fixed-size-image>
                </div>
            </app-tetris-panel-item>

            <app-tetris-panel-item>
                <app-rating-subsection
                    [moveNotation]="getPosition().piecePlacement!.toString()"
                    [tags]="getPosition().getPlayerPlacementTags()"
                    [rating]="getPlayerRating()"
                    >
                </app-rating-subsection>
            </app-tetris-panel-item>

        </app-tetris-panel>
    </app-section>

    <div class="analysis-col">
        <app-section class="stackrabbit-moves-container">
            <h2 class="header">StackRabbit Engine ({{game.inputSpeed}}hz)
                <app-tooltip-indicator [tooltip]="'Top moves recommended by StackRabbit AI'"/>
            </h2>
            <div class="stackrabbit-moves">  
                <app-stackrabbit-moves
                *ngIf="getPosition().analysis.getEngineMoveListDeep() as movelist"
                [movelist]="movelist"
                (hoveredMove)="setHoveredRecommendation($event)"
                >
            </app-stackrabbit-moves>
            </div>
        </app-section>
    
        <app-section class="nnb-container">
            <h2 class="header nnb-title">Alternate next pieces
                <app-tooltip-indicator [tooltip]="'StackRabbit\'s top move for each possible piece in the next box'"/>
            </h2>
            <div class="pieces-container">
                <app-tag class="nnb-piece" (mosueover)="setHoverNNB('default')" (mouseleave)="setHoverNNB()" />
                <app-tag class="nnb-piece" *ngFor="let type of getPieceTypes()" 
                [piece]="type" (mouseover)="setHoverNNB(type)" (mouseleave)="setHoverNNB()" />
            </div>
        </app-section>
    </div>

    <app-section class="test-container">
        <h2>Move list Deep</h2>
        <div *ngIf="getPosition().analysis.getEngineMoveListDeep() as mld">
            <p *ngFor="let rec of mld.getRecommendations()" [style.color]="mld.getRecommendationColor(rec)">
                {{rec.toString()}}
            </p>
        </div>
        <h2>Move list Shallow</h2>
        <div *ngIf="getPosition().analysis.getEngineMoveListShallow() as mls">
            <p *ngFor="let rec of mls.getRecommendations()" [style.color]="mls.getRecommendationColor(rec)">
                {{rec.toString()}}
            </p>
        </div>
        <h2>Rate Move Deep</h2>
        <div *ngIf="getPosition().analysis.getRateMoveDeep() as rmd">
            <p>Best NB: {{rmd.bestNB}}</p>
            <p>Best NNB: {{rmd.bestNNB}}</p>
            <p>Player NB: {{rmd.playerNB}}</p>
            <p>Player NNB: {{rmd.playerNNB}}</p>
        </div>
    </app-section>
    
</div>
<app-graph *ngIf="game" class="graph" [game]="game" [currentPlacement]="placementIndex"
(isTemporaryPlacement)="setWhetherTemporaryPlacement($event)" (setHoveredPlacement)="setPlacement($event)">
    
</app-graph>