@import "../../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.main {
    display: grid;
    grid-template-columns: 50px 470px 2.3fr 5fr; // 1fr = 50px in figma
    column-gap: 10px;
    margin: 0 10px;
}

.graph {
    margin: 0 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    background-color: $layer-1-color;
    border-radius: 5px;
    min-height: 75px;
    max-height: 150px;
}

.analysis-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stackrabbit-moves-container {
    height: fit-content;
}

.stackrabbit-moves {
    height: 380px;
    overflow-y: scroll;
    width: 100%;
}

.nnb-container {
    flex-grow: 1;
}

.pieces-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    gap: 10px;
}

.nnb-piece:hover {
    filter: brightness(1.4);
}

.level-lines {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h2.header {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 20px;
}

.nnb-title {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrow-button {
    cursor: pointer;
}

.arrow-button:hover {
    opacity: 0.9;
}

.arrow-button:active {
    opacity: 0.8;
}

.arrow-button.disabled {
    opacity: 0.2;
}

.url {
    text-wrap: wrap;
    overflow-wrap: break-word;
    width: 400px;
}

.test-container ::ng-deep section {
    max-height: 600px;
    overflow-y: scroll;
}