.digits {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-self: center;
}

.digit {
    width: 62px;
    height: 84px;
    border-radius: 5px;
    background-color: #202020;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid rgba(0,0,0,0);
}

.digit.selected {
    border: 3px solid #FFF;
}

.digit:hover {
    background-color: #191919;
}

.digit-character {
    text-align: center;
    font-family: Londrina Solid;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

/* four-digit-code.component.scss */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-6px);
    }
    50% {
      transform: translateX(6px);
    }
  }
  
  .shake-animation {
    background-color: #873232;
    border: 3px solid rgba(0,0,0,0);
    animation: shake 0.3s ease-in-out, border 0.3s ease-in-out;
  }