<div class="root">
    <section class="main-grid">

        <h1 class="padded">Current Frame</h1>

        <app-tetris-panel>
            <app-interactive-tetris-board
                    [grid]="current.grid"
                    [level]="18"
                />

            <app-tetris-panel-item>
                <p>Score: {{status.score}}</p>
                <p>Lines: {{status.lines}}</p>
                <p>Level: {{status.level}}</p>
            </app-tetris-panel-item>

            <app-tetris-panel-item>
                <app-next-box [showBackground]="false" [level]="18" [type]="current.nextBoxType"></app-next-box>
            </app-tetris-panel-item>

            <app-tetris-panel-item class="debug-nav">
                <app-button-small label="Prev -1" [buttonDisabled]="!hasPrevious()" (click)="previous()"></app-button-small>
                <app-button-small label="Next +1" [buttonDisabled]="!hasNext()" (click)="next()"></app-button-small>
            </app-tetris-panel-item>

            <app-tetris-panel-item class="debug-nav">
                <app-button-small label="Prev -5" [buttonDisabled]="!hasPrevious()" (click)="previous(5)"></app-button-small>
                <app-button-small label="Next +5" [buttonDisabled]="!hasNext()" (click)="next(5)"></app-button-small>
            </app-tetris-panel-item>

            <app-tetris-panel-item class="debug-nav">
                <app-button-small label="Prev P" (click)="previousPlacement()"></app-button-small>
                <app-button-small label="Next P" (click)="nextPlacement()"></app-button-small>
            </app-tetris-panel-item>

            <app-tetris-panel-item class="debug-nav">
                <app-button-small label="Start" (click)="start()"></app-button-small>
                <app-button-small label="End" (click)="end()"></app-button-small>
            </app-tetris-panel-item>

        </app-tetris-panel>

    </section>
    <section class="info-section">
        <h1 class="padded">Debug log</h1>

        <app-subsection *ngIf="currentPlacement?.analysis?.getEngineMoveListNB() as engineMovelistNB">
            <h2>Engine Movelist NB</h2>
            <p *ngFor="let recommendation of engineMovelistNB.getRecommendations()">{{recommendation.toString()}}</p>
        </app-subsection>

        <app-subsection *ngIf="currentPlacement?.analysis?.getRateMoveDeep() as ratingDeep">
            <h2>Player move rating (Deep)</h2>
            <p>playerNB: {{ratingDeep.playerNB}}</p>
            <p>playerNNB: {{ratingDeep.playerNNB}}</p>
            <p>bestNB: {{ratingDeep.bestNB}}</p>
            <p>bestNNB: {{ratingDeep.bestNNB}}</p>
        </app-subsection>

        <app-subsection *ngIf="currentPlacement?.analysis?.getRateMoveShallow() as ratingShallow">
            <h2>Player move rating (Shallow)</h2>
            <p>playerNB: {{ratingShallow.playerNB}}</p>
            <p>playerNNB: {{ratingShallow.playerNNB}}</p>
            <p>bestNB: {{ratingShallow.bestNB}}</p>
            <p>bestNNB: {{ratingShallow.bestNNB}}</p>
        </app-subsection>

        <app-subsection>
            <p *ngFor="let log of current.log">{{log}}</p>
        </app-subsection>

        <div class="grids">
            <app-subsection class="log-grid" *ngFor="let logGrid of current.logGrid">
                <h3>{{logGrid[0]}}</h3>
                <app-interactive-tetris-board
                        [grid]="logGrid[1]"
                        [level]="18"
                    />
            </app-subsection>
        </div>
        
        
    </section>

</div>