<header *ngIf="userService.isLoggedIn()">
    <h1>Ansel, let’s play a game.</h1>
</header>
<header *ngIf="!userService.isLoggedIn()">
    <h2>To get started, log in!</h2>
    <div class="discord">
        <app-discord-button (click)="login()"></app-discord-button>
    </div>
    
</header>
<section class="play-options">

    <div class="option-container hoverable">
        <h1>Play Solo</h1>
        <app-fixed-size-image [src]="'play_1p.svg'" [width]="248"></app-fixed-size-image>
        <p>
            Get detailed real-time feedback and statistics as you play through live capture or our emulator!
        </p>
    </div>
    <div class="option-container hoverable">
        <h1>Multiplayer</h1>
        <app-fixed-size-image [src]="'play_2p.svg'" [width]="248"></app-fixed-size-image>
        <p>
            Invite others to play in your multiplayer room, or train against an AI!
        </p>
    </div>
    <div class="option-container" (click)="onJoinRoomContainerClick()">
        <h1>Join Room</h1>
        <div class="code-and-description">
            <app-four-digit-code #fourDigitCode (onSubmit)="submitCode($event)"></app-four-digit-code>
            <p class="join-room-description">Enter 4-digit Code</p>
        </div>
        
        <p>
            Ask the owner of an existing multiplayer room for a 4-digit code!
        </p>
    </div>

</section>