<header>
    <div class="brand">
        <img src="./assets/img/tetrisfish_logo_shadow.svg">
        <h1 class="brand-name">tetrisfish</h1>
    </div>
    <p class="brand-leaderboard">Leaderboard</p>
    <h2 class="brand-subtitle">Stack like a champion.</h2>
</header>

<section>

    <div class="tabs">
        <div class="tab left" (click)="setTypeOverall()" [ngClass]="{selected : isTypeOverall()}">
            <h1 class="tab-title left" >Overall</h1>
            <hr class="tab-line">
        </div>
        <div class="tab right" (click)="setType29()" [ngClass]="{selected : isType29()}">
            <h1 class="tab-title right" >29 Start</h1>
            <hr class="tab-line">
        </div>
    </div>

    <div class="leaderboard-container">
        <div class="leaderboard-item header">
            <h3></h3>
            <h3></h3>
            <h3>Date</h3>
            <h3>Level</h3>
            <h3>Playstyle</h3>
            <h3>Tetris Readiness</h3>
            <h3>{{isTypeOverall() ? 'Score at 29' : 'Score at 100L'}}</h3>
            <h3>{{isTypeOverall() ? 'Accuracy at 29' : 'Accuracy at 100L'}}</h3>
        </div>

        <div class="row" *ngFor="let entry of getCurrentLeaderboard(); let i = index">
            <hr class="divider" *ngIf="i !== 0">
            <div class="leaderboard-item">
                <p>#{{i+1}}</p>
                <p>{{entry.playerName}}</p>
                <p>{{entry.timeString}}</p>
                <p>{{entry.startLevel}}</p>
                <p>{{entry.playstyle}}</p>
                <p>{{formatAccuracy(entry.tetrisReadiness, 0)}}</p>
                <p>{{entry.score}}</p>
                <p class="accuracy" [style.color]="getAccuracyColor(entry.accuracy)">{{formatAccuracy(entry.accuracy, 2)}}</p>
            </div>
        </div>

    </div>

</section>