:host {
    --widthProportional: 4vw;
    --widthPx: 40;
    --aspectRatio: 1/1;
}

img {
    width: var(--widthProportional);
    aspect-ratio: var(--widthPx);
}

@media (min-width: 1000px) {
    img {
        width: var(--widthPx);
    }

}