<app-section class="leaderboard">
    <h2 class="title">{{getLeaderboardName()}}</h2>
    <h1 class="leaderboard-value padded">{{getRankString()}}</h1>

    <app-subsection class="eligibility">
        <h3 class="padded-bottom">Eligibility</h3>
        <div class="items">
            <app-eligibility-item
                [isEligible]="eligibility.isStartLevelAllowed()"
                [text]="'Level 18/19/29 Start'"
            />
            <app-eligibility-item
                [isEligible]="eligibility.getIs30Hz()"
                [text]="'Analysis set to 30hz'"
            />
            <app-eligibility-item
                [isEligible]="!eligibility.getHasPaused()"
                [text]="'No pausing during game'"
            />
        </div>
    </app-subsection>

    <div>
        <p class="tiny">*Overall leaderboards are recorded at 230 lines.</p>
        <p class="tiny">29 leaderboards recorded at 100 lines.</p>
    </div>

</app-section>