:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    border-radius: 3px;
    background: #333234;
    padding: 2px 5px;
}

.tag-text {
    font-family: Londrina Solid;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}
