<div class="level-container" [style.backgroundColor]="getColor(0.2)">
    <div class="level column" [style.backgroundColor]="getColor(0.8)">
        <h1>{{level}}</h1>
    </div>
    <div class="label column" [style.backgroundColor]="getColor(0.4)">
        <p *ngFor="let label of labels">{{label}}</p>
    </div>
    <div class="current column" [style.backgroundColor]="getColor(0.15)">
        <p *ngFor="let current of currents">{{current}}</p>
    </div>
    <div class="average column">
        <p *ngFor="let average of averages">{{average}}</p>
    </div>
    <div class="median column" [style.backgroundColor]="getColor(0.15)">
        <p *ngFor="let median of medians">{{median}}</p>
    </div>
    <div class="best column">
        <p *ngFor="let best of bests">{{best}}</p>
    </div>

</div>