<div class="level-container" [style.backgroundColor]="getColor(0.2)">
    <div class="level column" [style.backgroundColor]="getColor(0.8)">
        <h1>{{level}}</h1>
    </div>
    <div class="label column">
        <p *ngFor="let label of labels">{{label}}</p>
    </div>
    <div class="average column" [style.backgroundColor]="getColor(0.15)">
        <p *ngFor="let average of averages">{{average}}</p>
    </div>
    <div class="median column" >
        <p *ngFor="let median of medians">{{median}}</p>
    </div>
    <div class="best column" [style.backgroundColor]="getColor(0.15)">
        <p *ngFor="let best of bests">{{best}}</p>
    </div>
    <div class="worst column">
        <p *ngFor="let worst of worsts">{{worst}}</p>
    </div>

</div>