<app-calibrate-page *ngIf="isCalibrating" (onExit)="hideCalibrationPage()" [exitButtonText]="'Back to Match'" />

<div class="multiplayer" *ngIf="!isCalibrating">
    <div class="main">

        <div class="main-container">
            <div class="player-boards">
                <app-slot *ngFor="let slot of multiplayer.getSlots()"
                [slot]="slot" [isAdmin]="multiplayer.getIsAdmin()" [canRegisterMyself]="!multiplayer.isPlayingGame()" />
            </div>
    
            <app-section class="match-info">
                <h1 class="title">March 2023 Computer Championship</h1>
                <h2 class="subtitle">Semifinals 1</h2>
                </app-section>
        </div>
        
        <div class="panels">

            <app-section class="status-panel">
                <h1 class="host">{{getHostText()}}</h1>
                <h2 class="status">Status: {{multiplayer.isPlayingGame() ? 'Player' : 'Spectator'}}</h2>
                <div class="status-attributes">
                    <p *ngIf="multiplayer.isPlayingGame()">capture fps: {{getCaptureFPS()}}</p>
                    <p>server fps: {{3}}</p>
                    <p>latency: {{3}}ms</p>
                </div>
            </app-section>

            <div class="player-buttons" *ngIf="multiplayer.isPlayingGame()">
                <app-button-big color="#DF6A62" label="Exit Match" (click)="exitMatchPrompt()"/>
                <app-button-big color="#626EDF" label="Edit Calibration" (click)="showCalibrationPage()"/>    
            </div>

            <app-section class="admin-panel" *ngIf="multiplayer.getIsAdmin()">
                <h1>Admin Panel</h1>
                <app-admin-panel/>
                
            </app-section>

            <app-section class="chat-panel">
                <h1>Live Chat</h1>
                <p class="num-users-connected"
                    *ngIf="multiplayer.getNumUsersConnected() as i">
                    {{i}} {{i===1?'user':'users'}} connected
                </p>

                <div class="chat-messages-container" #chatMessagesContainer>
                    <p class="message" *ngFor="let msg of multiplayer.getMessages().slice().reverse()">
                        <span class="username"
                        [style.color]="msg.userIsPlayer ? '#387CFF' : (msg.userIsPro ? '#FFB938' : 'white')"
                        >{{msg.name}}</span>
                        <app-fixed-size-image class="patreon-icon" *ngIf="msg.userIsPro" [src]="'pro_user.svg'" [width]="13" [tooltip]="'Patreon Supporter'" />
                        <span class="content" [ngClass]="(msg.userIsPro || msg.userIsPlayer) ? 'white' : ''">{{msg.message}}</span>
                    </p>
                </div>

                <div class="send-message">
                    <input class="send-message-input" type="text"
                    placeholder="Type a message..." [(ngModel)]="messageBeingTyped"
                    (keydown.enter)="sendMessage()"/>
                    <img class="send-message-button" (click)="sendMessage()" [src]="'./assets/img/send_message.svg'" height="27px">
                </div>

            </app-section>

        </div>

    </div>

</div>