<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/play" routerLinkActive="active">Play</a></li>
        <li><a routerLink="/analysis" routerLinkActive="active">Analyze</a></li>
        <li><a routerLink="/puzzles" routerLinkActive="active">Puzzles</a></li>
        <li><a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>
</nav>

<p>root start</p>
<router-outlet />
<p>root end</p>