<div class="video-menu">
    <div class="select-video">
        <button (click)="screenCapture()">Capture Screen</button>
        <select [(ngModel)]="selectedDevice" (change)="onDeviceChange()">
            <option *ngFor="let device of videoDevices" [ngValue]="device">
                {{ (device === null) ? "...or select a video device" : device.label }}
            </option>
        </select>
    </div>
    <div class="video-options">
        <button (click)="generateVideoDevicesList()">Refresh</button>
        <button (click)="togglePause()">{{isPaused() ? "Resume" : "Pause"}}</button>
    </div>
</div>
  
<video #videoElement autoplay style="display: none;"></video>
<canvas #canvasElement
[ngStyle]="{'border' : (isCaptureModeNormal() ? '1px solid #ccc' : '3px solid green')}"
(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
(mousemove)="onMouseMove($event)"
width="400" height="300"></canvas>


<!-- Display permission error -->
<div *ngIf="permissionError" class="error">{{ permissionError }}</div>
