:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}


.select-video, .video-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 0;
}

select {
    display: block;
}

canvas {
    display: block;
}

.error {
    color: red;
    margin-top: 10px;
}
