<div class="select-video">
    <button (click)="captureServ.screenCapture()">Capture Screen</button>
    <select [(ngModel)]="captureServ.selectedDevice" (change)="captureServ.onDeviceChange()">
        <option *ngFor="let device of captureServ.videoDevices" [ngValue]="device">
            {{ (device === null) ? "...or select a video device" : device.label }}
        </option>
    </select>
</div>
<div class="video-options">
    <button (click)="captureServ.generateVideoDevicesList()">Refresh</button>
    <button (click)="captureServ.togglePause()">{{captureServ.isPaused() ? "Resume" : "Pause"}}</button>
</div>
  
<video #videoElement autoplay style="display: none;"></video>
<canvas #canvasElement
[ngStyle]="{'border' : hasVideo() ? (isCalibrated() ? '2px solid green' : '2px solid red') : '1px solid white'}"
(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
(mousemove)="onMouseMove($event)"
[style.width.px]="captureServ.DISPLAY_WIDTH" [style.height.px]="captureServ.DISPLAY_HEIGHT">
</canvas>

<!-- Display permission error -->
<div *ngIf="captureServ.permissionError" class="error">{{ captureServ.permissionError }}</div>
